// Mixins in here


button {
	background-color: @eastern-blue;
    border-radius: 5px;
    padding: 10px 30px;
    color: @white;
    font-weight: bold;
}

// .btn (@eastern-blue){
//     background:red;
// }

.header-image {
    padding-bottom: 30px;
}
